article > div:first-child {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

article > div:first-child > *:not(#unpack),
article > div:first-child > #unpack > *:not(.unpacked) {
  max-width: calc(var(--article-width) - 2rem);
  margin: 1rem auto;
}

article > div:first-child > #unpack {
  text-align: center;
}

article > div:first-child > #unpack textarea {
  width: 100%;
  padding: 0.5rem;
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--font-color);
  resize: vertical;
  background-color: transparent;
  border-color: var(--font-color);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  outline: none;
}

article > div:first-child > #unpack textarea::placeholder {
  color: var(--font-color);
  opacity: 0.5;
}

article > div:first-child > #unpack textarea.error {
  border-color: #f77;
}

article > div:first-child > #unpack .unpacked {
  display: flex;
  gap: 1rem;
  align-content: stretch;
  max-width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

article > div:first-child > #unpack .unpacked > div {
  flex-grow: 1;
  max-height: calc(100vh - 2*var(--top-nav-height));
  overflow: scroll;
  text-align: left;
  border-color: var(--background-color-alt);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

article > div:first-child > #unpack .unpacked > div::-webkit-scrollbar {
  display: none;
}

article > div:first-child > #unpack .unpacked #unpack-parsed-input,
article > div:first-child > #unpack .unpacked #unpack-rough-schema {
  font-size: 95%;
}

article > div:first-child > #unpack .unpacked #unpack-parsed-input {
  padding: 0.5rem 1rem;
  margin: 0 0 0 1rem;
}

article > div:first-child > #unpack .unpacked #unpack-rough-schema {
  padding: 1rem;
  margin: 0 1rem 0 0;
}

article > div:first-child > #unpack .unpacked #unpack-parsed-input div,
article > div:first-child > #unpack .unpacked #unpack-rough-schema div {
  position: relative;
  z-index: 2;
  padding: 0 0.5rem;
  margin: 0 0 0 1.5rem;
  font-family: var(--font-family-monospace);
  background-color: transparent;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

article > div:first-child > #unpack .unpacked #unpack-rough-schema > div {
  margin: 0;
}

article > div:first-child > #unpack .unpacked #unpack-parsed-input .highlighted::before,
article > div:first-child > #unpack .unpacked #unpack-rough-schema .highlighted::before { 
  position: absolute;
  top: 0;  
  left: 0; 
  z-index: 1; 
  width: 100%;
  height: 100%;
  content: " ";
  background-color: var(--font-color);
  border-radius: 5px;
  opacity: 0.05;
}

article > div:first-child > #unpack .unpacked .renamed-key {
  color: var(--color-3);
}

article > div:first-child > #unpack .unpacked .boolean,
article > div:first-child > #unpack .unpacked .null {
  color: var(--color-4);
}

article > div:first-child > #unpack .unpacked .number {
  color: var(--color-5);
}

article > div:first-child > #unpack .unpacked .string {
  color: var(--color-6);
}

article > div:first-child > #unpack .unpacked .key {
  color: var(--color-9);
}

@media screen and (width < 1000px) {
  article > div:first-child > *:not(#unpack),
  article > div:first-child > #unpack > *:not(.unpacked) {
    max-width: var(--article-width);
    margin: 1rem;
  }
}
