article .maintext {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

article .maintext #unpack {
  text-align: center;
}

article .maintext #unpack .unpacked {
  max-width: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

article .maintext > *:not(#unpack),
article .maintext > #unpack > *:not(.unpacked) {
  margin: 1rem auto;
  max-width: calc(var(--max-width) - 2rem);
}

@media screen and (max-width: 1000px) {
  article .maintext > *:not(#unpack),
  article .maintext > #unpack > *:not(.unpacked) {
    margin: 1rem;
    max-width: var(--max-width);
  }
}

article .maintext #unpack textarea {
  background-color: transparent;
  border-color: var(--font-color);
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  color: var(--font-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  outline: none;
  padding: 0.5rem;
  resize: vertical;
  width: 100%;
}

article .maintext #unpack textarea::placeholder {
  color: var(--font-color);
  opacity: 0.5;
}

article .maintext #unpack textarea.error {
  border-color: #ff7777;
}

article .maintext #unpack .unpacked {
  align-content: stretch;
  display: flex;
  gap: 1rem;
}

article .maintext #unpack .unpacked > div {
  border-color: var(--background-color-alt);
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  flex-grow: 1;
  max-height: calc(100vh - 2*var(--nav-height));
  overflow: scroll;
  text-align: left;
}

article .maintext #unpack .unpacked > div {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

article .maintext #unpack .unpacked > div::-webkit-scrollbar {
  display: none;
}

article .maintext #unpack .unpacked #unpack-parsed-input {
  padding: 0.5rem 1rem;
}

article .maintext #unpack .unpacked #unpack-rough-schema {
  padding: 1rem;
}

article .maintext #unpack .unpacked #unpack-parsed-input {
  margin: 0 0 0 1rem;
}

article .maintext #unpack .unpacked #unpack-rough-schema {
  margin: 0 1rem 0 0;
}

article .maintext #unpack .unpacked #unpack-parsed-input div,
article .maintext #unpack .unpacked #unpack-rough-schema div {
  margin: 0 0 0 1.5rem;
}

article .maintext #unpack .unpacked #unpack-rough-schema > div {
  margin: 0;
}

article .maintext #unpack .unpacked #unpack-parsed-input div,
article .maintext #unpack .unpacked #unpack-rough-schema div {
  background-color: transparent;
  border-color: transparent;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  font-family: var(--font-family-monospace);
  font-size: 95%;
  padding: 0 0.5rem;
  position: relative;
  z-index: 2;
}

article .maintext #unpack .unpacked #unpack-parsed-input .highlighted::before,
article .maintext #unpack .unpacked #unpack-rough-schema .highlighted::before {
  background-color: var(--font-color);
  border-radius: 5px;
  content: " ";
  height: 100%;  
  left: 0;
  opacity: 0.05; 
  position: absolute;
  top: 0; 
  width: 100%; 
  z-index: 1;
}

/* custom syntax highlighting */

article .maintext #unpack .unpacked .renamed-key {
  color: var(--color-3);
}

article .maintext #unpack .unpacked .boolean,
article .maintext #unpack .unpacked .null {
  color: var(--color-4);
}

article .maintext #unpack .unpacked .number {
  color: var(--color-5);
}

article .maintext #unpack .unpacked .string {
  color: var(--color-6);
}

article .maintext #unpack .unpacked .key {
  color: var(--color-9);
}
